* text=auto

*.html linguist-detectable=false
*.css linguist-detectable=false

*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript

*.jsx linguist-language=JavaScript
*.json linguist-language=JSON
*.config.js linguist-language=JavaScript

*.md linguist-documentation
README.md linguist-documentation